<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>판매자 상세</title>
    <th:block th:replace="fragments/layout :: cssjs"/>
</head>
<body>

<div th:replace="/fragments/layout :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4"><img th:src="${seller.getSellerImageUrl()}" src="" class="img-fluid"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${seller.name}"/>
                <p class="card-text">
                    <ul>
                        <li th:each="cat: ${sellers}" th:if="${!sellers.isEmpty()}">
                            <a th:href="@{/sellers/{sellerId}(sellerId=${seller.id})}" th:text="${seller.name}"></a>
                        </li>
                    </ul>
                </p>

                <button type="button" class="btn btn-primary" id="newItemBtn">새 상품 만들기</button>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="/fragments/layout :: footer"></div>

<script sec:authorize="!isAuthenticated()" th:inline="javascript">
    function handleOrder() {
        alert("로그인을 먼저 하세요!");
    }
</script>

<script sec:authorize="isAuthenticated()" th:inline="javascript">
    document.getElementById('newItemBtn').addEventListener('click', function() {
        var sellerId = window.location.pathname.split('/')[3]; // 현재 URL에서 sellerId 추출
        window.location.href = `/my/sellers/${sellerId}/items/new`; // 새 상품 만들기 페이지로 리다이렉트
    });
</script>

</body>
</html>