<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
</head>

<body>
<form action="#" th:action="@{/my/sellers/{sellerId}/{categoryId}/items/new(sellerId=${sellerId}, categoryId=${categoryId})}" th:object="${item}" method="post" enctype="multipart/form-data">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" />
    </div>
    <div>
        <label for="stockQuantity">Stock Quantity:</label>
        <input type="number" id="stockQuantity" name="stockQuantity"/>
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>
    </div>
    <div>
        <label for="FileImages">Select File:</label>
        <input type="file" id="FileImages" name="FileImages" multiple/>
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>
</body>
</html>